*{
margin:0;
padding:0;
border:0;
font-family: 'Oswald', sans-serif;
font-weight: 300;
}

html,body{
height: 100%;
}

#main{
/*border-top: 10px solid #222;*/
margin-top: 5.5%;
}

#sidebar{
position: fixed;
/*float: left;*/
margin-top: 2%;
font-size: 180%;
text-align: center;
/*margin-left: 0;*/
width: 20%;
height: 100%;
border-right: 10px solid #F6F6F6;
/*border-top: 10px solid #222;*/
}

#sidebar ul{
text-align: center;
}

#sidebar li{
list-style-type: none;
display: block;
text-decoration: none;
}

#sidebar li a{
text-decoration: none;
color: #222;
}

.menuItem{
padding: 5%;
}

.greyThing{
background-color: rgb(195, 195, 195);
font-size: 2px;
color: rgba(255,255,255,0.0);
width: 80%;
margin-left: auto;
margin-right: auto;
border-radius: 100%;
}

#home a{
position: fixed;
float: left;
font-size: 281.3%;
border-right: 10px solid #222;
padding-top: 1%;
padding-bottom: 1.5%;
width: 20%;
text-align: center;
text-decoration: none;
color: #222;
background-color: #F6F6F6;
}

#header{
border-bottom: 1px solid #F6F6F6;
z-index: 9999;
background-color: #F6F6F6;
}

#otherSpace{
position: fixed;
background-color: #222;
height: 10px;
width: 100%;
margin-top: .7%;
z-index: 9999;
}

#space{
position: fixed;
height: 100%;
width: 10px;
float: left;
margin-left: 20%;
background-color: #222;
z-index: 9999;
}

#content{
position: relative;
/*background-color: red;*/
font-size: 20px;
float: left;
width: 76%;
height: 100%;
margin-left: 22%;
margin-top: 2%;
/*border-top: 10px solid #222;*/
/*padding: .3%;*/
z-index: -999;
}

#imgCont{
background-color: #F6F6F6;
position: fixed;
float: left;
margin-left: 20%;
width: 9%;
height: 10%;
z-index: -10;
}

#icon{
height: 80%;
border-radius: 100%;
margin-top: 4%;
margin-left: 14%;
}

#descript{
position: fixed;
width: 73%;
height: 9%;
padding: 1%;
font-size: 110%;
/*border-bottom: 1px solid #F6F6F6;*/
margin-left: 26%;
/*background-color: blue;*/
background-color: #F6F6F6;
}

.stroke{
position: relative;
clear: both;
width: 80%;
height: 100%;
margin-right: auto;
margin-left: auto;
}

.largeimg{
width: 85%;
height: 85%;
padding-top: 4%;
display: block;
margin-right: auto;
margin-left: auto;
}

#bar{
position: relative;
clear: both;
width: 87%;
height: 60%;
margin-right: auto;
margin-left: auto;
}

.small{
width: 24%;
padding: .5%;
height: 16%;
float: left;
margin-bottom: 3%;
}

.titleText{
width: 85%;
padding: 1.5%;
font-size: 140%;
display: block;
margin-right: auto;
margin-left: auto;
text-decoration: none;
color: #222;
}

.descText{
width: 85%;
padding-bottom: 1.5%;
font-size: 120%;
display: block;
margin-right: auto;
margin-left: auto;
}

#text{
position: relative;
clear: both;
width: 85%;
display: block;
text-align: center;
font-size: 130%;
padding-top,left,right: 4%;
margin-right: auto;
margin-left: auto;
}

#footer{
position: relative;
text-align: center;
clear: both;
padding: 1%;
border-top: 2px solid rgb(195, 195, 195);
}