*{
margin:0;
padding:0;
border:0;
font-family: 'Oswald', sans-serif;
font-weight: 300;
}

html{
height: 100%;
background-color: #F6F6F6;
}

#main{
margin-top: 9.5vh;
}

#sidebar{
position: fixed;
background-color: rgba(0,0,0,0.0);
margin-top: 5.4vh;
font-size: 3.5vh;
text-align: center;
width: 20vw;
height: 100vh;
}

#sidebar ul{
text-align: center;
}

#sidebar li{
list-style-type: none;
display: block;
text-decoration: none;
}

#sidebar li a{
text-decoration: none;
color: #222;
}

.menuItem{
padding: 5%;
}

.greyThing{
background-color: rgb(195, 195, 195);
font-size: 2px;
color: rgba(255,255,255,0.0);
width: 18vw;
margin-left: auto;
margin-right: auto;
border-radius: 100%;
}

#home a{
position: fixed;
float: left;
font-size: 3vw;
padding-top: 1.5vh;
margin-top: .8vh;
width: 20vw;
text-align: center;
text-decoration: none;
color: #222;
background-color: #F6F6F6;
}

#STT{
position: fixed;
padding: 1vw;
background-color: #F6F6F6;
color: rgb(0,0,0,0.0);
width: 100vw;
height: 10vh;
z-index: -1;
border-bottom: 10px solid #222;
}

#header{
border-bottom: 1px solid #F6F6F6;
z-index: 99999;
background-color: #F6F6F6;
}

#space{
position: fixed;
height: 100vh;
width: 10px;
float: left;
margin-left: 19.79vw;
background-color: #222;
z-index: 9999;
}

#content{
position: relative;
font-size: 2.5vh;
float: left;
width: 76vw;
margin-left: 22vw;
margin-top: 7vh;
z-index: -999;
}

#icon{
position: fixed;
height: 8vh;
border-radius: 100%;
margin-top: 2.4vh;
margin-left: 21vw;
}

#descript{
position: fixed;
width: 73vw;
height: 5vw;
margin: 1vw;
font-size: 1.25vw;
padding-left: 46vh;
padding-top: 1.5vh;
z-index: -1;
}

#bar{
position: relative;
clear: both;
width: 65vw;
margin-right: auto;
margin-left: auto;
}

#text{
position: relative;
clear: both;
width: 65vw;
display: block;
text-align: center;
font-size: 3.5vh;
padding-top,left,right: 4vw;
margin-right: auto;
margin-left: auto;
}

#footer{
position: relative;
text-align: center;
clear: both;
margin-top: 3vh;
padding: 1.2vh;
border-top: 2px solid rgb(195, 195, 195);
}

.largeimg{
width: 65vw;
padding-top: 3vw;
display: block;
margin-right: auto;
margin-left: auto;
}

.small{
width: 12.8vw;
padding: .1vw;
float: left;
margin-bottom: 2vh;
}

.titleText{
width: 65vw;
padding: 1.2vw;
font-size: 4vh;
display: block;
margin-right: auto;
margin-left: auto;
text-decoration: none;
color: #222;
}

.descText{
width: 65vw;
font-size: 3vh;
display: block;
margin-right: auto;
margin-left: auto;
}